* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    background-color: #ffe3eb;
}

#attribution {
    text-align: right;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    padding-top: 1em;
}


.container {
    margin-top: 1vh;
}

.calcBody{
    padding: 1rem;
    background-color: #97b1aa;
    border-top: 4px solid rgb(214, 241, 225);
    border-left: 4px solid rgb(186, 196, 190);
    border-right: 4px solid rgb(148, 182, 137);
    border-bottom: 4px solid rgb(54, 73, 62);
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.display {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 2.75em;
    margin-top: 1rem;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px inset;
    background-color: #007560;
    color: #f3eada;
}

.screen {
    flex: 1;
    text-align: right;
    font-family:"Droid Sans Mono", 'Courier New', Courier, monospace;
}

#bottomline, #topline {
    display: flex;
    justify-content: space-between;
}

#currOp {
    flex-grow: 0;
    padding-right: 0.4em;
    padding-top: 0.3em;;
}

#currDisplay {
    padding-right: 0.4em;
}

#opDisplay {
    padding-top: 0.3em;
}

#negation {
    flex-grow: 0;
    padding-left: 0.5em;
}

.cluster {
    display: flex;
    flex: 1;
    gap: 1rem;
}

.col {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: 1rem;
}

button {
    font-weight: 700;
    font-size: 1em;
    flex: 1 1 100%;
    padding: 1rem 3rem;
    border-top: 1px solid rgb(214, 241, 225);
    border-left: 1px solid rgb(186, 196, 190);
    border-right: 1px solid rgb(148, 182, 137);
    border-bottom: 1px solid rgb(54, 73, 62);
    border-radius: 0.5rem;
    background-color: #ffe1c6;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    color: #ffefca;
}

.span1{
    background-color: #c44f68;
}

.span2{
    background-color: #e07250;
}

.span3{
    background-color: #ac7c26;
}

.span4{
    background-color: #6f7f22;
}

.span5 {
    background-color: #257a3e;
}

.span6 {
    background-color: #006f5f;
}

.span7 {
    background-color: #007982
}

.span8 {
    background-color: #007fa4;
}